*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(246, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(246, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background: url(./images/Home.jpg)no-repeat;
    background-size: cover;
    height: 100hv;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(246, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
h1{
    font-weight: 700;
}
.card-body:hover{
    -webkit-box-shadow: -2px -1px 25px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -5px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 25px -5px rgba(0,0,0,0.75);
    transition: 0.3s ease;
}